form {
    margin: 30px auto 0;
    max-width: 400px;
}

.front {
    position: relative;
    transform: rotateY(0deg);
}

.back {
    position: relative;
    transform: rotateY(180deg);
}

.rccs__card {
    height: 182.873px;
    margin-top: 10;
    margin-bottom: 10;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    width: 290px;
}

.back3 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}